<mat-toolbar color="primary">
      <mat-toolbar-row>
        <div fxFlex="25%">
            <button mat-raised-button color="primary">
                <b>Home</b>
              </button>
        </div>
        <div fxFlex="25%">
            <button mat-button>
                <mat-icon svgIcon="navigation:ic_menu_24px"></mat-icon>
              </button>
        </div>

        <div fxFlex="25%">
            <button mat-raised-button color="primary" (click)="routeToCourse()">
                <b>Courses</b>
              </button>
        </div>
        <div fxFlex="25%">
            <button mat-raised-button color="primary" (click)="login()">
                <b>Login/Register</b>
              </button>
        </div>
        <div fxFlex="25%">
            <button mat-raised-button color="primary">
                <b>Webinar</b>
              </button>
        </div>
        <div fxFlex="25%">
            <button mat-raised-button color="primary">
                <b>Resources</b>
              </button>
        </div>
        <div fxFlex="25%">
            <button mat-raised-button color="primary">
                <b>Corporate Training</b>
              </button>
        </div>
     </mat-toolbar-row>
</mat-toolbar>
